<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <%= render partial: 'shared/error_messages', locals: {object: @admin_post} %>
    <div class="title-head">Show Admin Post</div>
      <div class="row">
        <p>
          <div class="col-md-4">Title</div>
          <div class="col-md-8"><span class="post-show"><%= @admin_post.title %></span></div>
        </p>
      </div>  
      <div class="row">
        <p>
          <div class="col-md-4">Message</div>
          <div class="col-md-8"><span class="post-show"><%= @admin_post.message %></span></div>
        </p>
      </div>    
      <div class="row">
        <p>
          <div class="col-md-4">Is Active</div>
          <div class="col-md-8"><span class="post-show"><%= @admin_post.is_active %></span></div>
        </p>
      </div>
  </div>
  <div class="col-md-4">  </div>
</div>

