

<%#= render "devise/shared/links" %>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-md-bg">
    <div class="inital-regi-top">
      <div class="title-head">Profile</div>
      <div class="profile-logo">
        <img src="/assets/4.png">
      </div>
      <div class="inital-con">
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-3 col-form-label">Name</label>
            <div class="col-xs-9">
              <input class="form-control" type="text" value="name" id="example-text-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-search-input" class="col-xs-3 col-form-label">Age</label>
            <div class="col-xs-9">
              <input class="form-control" type="search" value="age" id="example-search-input">
            </div>
          </div>
          <div class="form-group row">
            <label for="example-email-input" class="col-xs-3 col-form-label">Email</label>
            <div class="col-xs-9">
              <input class="form-control" type="search" value="email" id="example-search-input">
            </div>
          </div>
        <div class="row menu-btn-top">
        	<div class="col-md-4 col-sm-4 col-xs-4">
        		<button class="menu-btn">Home</button>
        	</div>
        	<div class="col-md-4 col-sm-4 col-xs-4"><button class="menu-btn">Request the word</button></div>
        	<div class="col-md-4 col-sm-4 col-xs-4"><button class="menu-btn">Your history</button></div>
        </div>
      </div>
    </div>
  <div class="col-md-4"></div>
</div>

