<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-md-bg">
    <div class="inital-regi-top">
      <div class="title-head">Home</div>
      <div class="row prphet-padding">
      	<div class="prophet-request">
      		<h4 class="prophet-request-h4">Requests</h4>
      	</div>
      	<div class="requst-table" style="border: 2px solid silver">
      		<table class="table">
            <tbody style="text-align: center">
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			          <td><span>Jane</span></td>
			          <td><span>-</span></td>
			          <td><span>Female</span></td>
			          <td><span>-</span></td>
			          <td><span>34</span></td>
			        </tr>
			        <tr>
			        	
			        </tr>
            </tbody>
          </table>
      	</div>
      </div>
      <div class="row menu-btn-top" style="text-align: center">
        <div class="col-md-4 col-sm-4 col-xs-4">
        	<button class="menu-btn">Home</button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button class="menu-btn">Request the word</button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button class="menu-btn">Your history</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


