<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 col-md-bg">
		<div class="inital-regi-top">
			<div class="title-head">Terms and Conditions</div>
			<div class="form-group">
				<p>By downloading this application, I enter into a hold harmless agreement with Pocket Prophet and it's owners and agents for any personal life decisions I make as a result of the information provided me. I acknowledge that nothing provided through the Pocket Prophet application is meant to alter, encourage change or counsel my personal life decisions. By using the information provided through the Pocket Prophet application, I recognize and fully comprehend, my willful decisions are that of my own. I will use this application and the information obtained at my own discretion and at my own risk. I authorize Pocket Prophet application to maintain my personal information provided in the registration process, in a secure manner, accessible by agents of the Pocket Prophet application. I understand that Pocket Prophet will never use, publicize or sell my information to a third party without my permission. By clicking agree, I authorize this document by my personal electronic signature.</p>
			</div>
			<div class="inital-con">
			</div>
			<div class="form-group" style="margin-top:10px;">
			<p><%= link_to "Sign Up", :back, class: "btn-signup btn-back btn-primary btn-lg btn-block" %></p>
			</div>
		</div>
	</div>

