<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 col-md-bg">
    <div class="inital-regi-top">
      <div class="title-head">Your story</div>
      <div class="story-description">
      	<div class="row bordr-bottom">
      		<h3 class="story-head">Heading</h3>
      		<p class="stroy-sub-head">Propher peter</p>
      		<span class="story-data">Date : 10/10/2010</span>
      	</div>
      	<div class="row bordr-bottom">
      		<h3 class="story-head">Heading</h3>
      		<p class="stroy-sub-head">Propher peter</p>
      		<span class="story-data">Date : 10/10/2010</span>
      	</div>
      	<div class="row bordr-bottom">
      		<h3 class="story-head">Heading</h3>
      		<p class="stroy-sub-head">Propher peter</p>
      		<span class="story-data">Date : 10/10/2010</span>
      	</div>
      	<div class="row bordr-bottom">
      		<h3 class="story-head">Heading</h3>
      		<p class="stroy-sub-head">Propher peter</p>
      		<span class="story-data">Date : 10/10/2010</span>
      	</div>
      </div>
      <div class="row menu-btn-top" style="text-align: center">
        <div class="col-md-4 col-sm-4 col-xs-4">
        	<button class="menu-btn">Home</button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button class="menu-btn">Profile</button>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <button class="menu-btn">Our stories</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>


